.contract-card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.contract-card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.contract-card-divider {
  margin-bottom: 20px;
}
.contract-card-content {
  font-size: 18px;
  margin-bottom: 10px;
}
.print-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
  
table {
  border-collapse: collapse;
}
td, th {
  padding: 10px;
}