<h2 style="font-weight: 700;" class="m-3" color="primary">Post Information</h2>
<mat-card class="m-3">
  <mat-card-title>
    {{PostObj?.title_post}}
  </mat-card-title>
  <mat-card-subtitle>
    {{PostObj?.qualification}}
  </mat-card-subtitle>
  <mat-divider></mat-divider>

    <div class="row pt-3">
      <div class="col-md-6">
        <mat-card-content>
          <table>
            <tr>
              <td>Salaire </td><td> : {{PostObj.Salaire}}</td>
            </tr>
            <tr>
              <td>disponible </td><td> : oui </td>
            </tr>   
            <tr>
              <td>date </td><td> :30/05/2023 </td>

            </tr>   

          </table>

        </mat-card-content>
      </div>
      <div class="col-md-6">
       <mat-card-content>
        <table>
         <tr>
          <td>Salcontrataire </td><td> : {{PostObj.contrat}}</td>

         </tr>
         <tr>
          <td>Domaine </td><td> : {{PostObj.Domaine}} </td>

         </tr>
          <tr>
            <td>Annonce_N </td><td> :123/24 </td>

          </tr>           

        </table>
        
       </mat-card-content>
      </div>
    </div>
</mat-card>


