.mat-card-content {
    color: #3f51b5;
  }
  
  .mat-card :hover {
  
    transform: scale(1.03);
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  button.mat-icon-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    color: #3d3fc3;
  }
  
 
  
  button.mat-icon-button:hover {
    background-color: #3d3fc3;
    color: #fff;
  }