<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 mt-3">
      <mat-card class="add-doc text-center" (click) = "addPost()">
        <mat-card-content>
          Add Post <br>
          <mat-icon>group_add</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

 

  <h2 style="font-weight: 700;" color="primary" class="mt-4">Posts Information</h2>
  <!-- Posts table -->
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. code logic" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- title_post Column -->
      <ng-container matColumnDef="title_post">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> title_post </th>
        <td mat-cell *matCellDef="let row"> {{row.title_post}} </td>
      </ng-container>

      <!-- qualification Column -->
      <ng-container matColumnDef="qualification">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> qualification </th>
        <td mat-cell *matCellDef="let row"> {{row.qualification}} </td>
      </ng-container>

       <!-- Domaine Column -->
       <ng-container matColumnDef="Domaine">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Secteur </th>
          <td mat-cell *matCellDef="let row"> {{row.Domaine}} </td>
        </ng-container>

      <!-- Salaire Column -->
      <ng-container matColumnDef="Salaire">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Salaire </th>
        <td mat-cell *matCellDef="let row"> {{row.Salaire}} </td>
      </ng-container>

     

       <!-- contrat Column -->
       <ng-container matColumnDef="contrat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> contrat </th>
        <td mat-cell *matCellDef="let row"> {{row.contrat}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="viewPost(row)">
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button mat-icon-button (click)="editPost(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deletePost(row)">
            <mat-icon>delete</mat-icon>
          </button> 
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>


</div>
