<h2 mat-dialog-tile> {{ title }} </h2>
<mat-divider></mat-divider>

<mat-dialog-content [formGroup] = "form">

    <mat-grid-list cols="2">

         

      <mat-grid-tile>
        <div>
          <mat-form-field>
            <mat-label>Nom complet</mat-label>
            <input matInput
                    placeholder="Ex. Youssef"
                    formControlName="Nom_complet"
                    required>
            <mat-error *ngIf="form.get('Nom_complet')?.invalid || form.get('Nom_complet')?.dirty || form.get('Nom_complet')?.touched">Enter full name</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Mobile number : </mat-label>
            <input matInput
                    placeholder="0680801091"
                    formControlName="mobile"
                    required>
            <mat-error *ngIf="form.get('mobile')?.invalid || form.get('mobile')?.dirty || form.get('mobile')?.touched">Enter valid mobile number</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email  : </mat-label>
            <input matInput
                    placeholder="Youssef@gmail.com"
                    formControlName="email"
                    required>
            <mat-error *ngIf="form.get('email')?.invalid || form.get('email')?.dirty || form.get('email')?.touched">Enter valid Emailr</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>CNE</mat-label>
            <input matInput
                    placeholder="ex. JR12334"
                    formControlName="CNE"
                    required>
            <mat-error *ngIf="form.get('CNE')?.invalid || form.get('CNE')?.dirty || form.get('CNE')?.touched">Enter valid CNE </mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div>
          <mat-label class="me-3">Gender : </mat-label>
          <br>
          <mat-radio-group aria-label="Select a gender" color="primary" formControlName="gender">
            <mat-radio-button value="homme">homme</mat-radio-button>
            <mat-radio-button value="femme">femme</mat-radio-button>
           </mat-radio-group>

          <mat-form-field class="mt-4">
            <mat-label>Poste disponible</mat-label>
            <mat-select formControlName="Post_id" name="Post_id">
              <mat-option *ngFor="let Post of allPosts" [value]="Post.Post_id">
                {{Post.title_post}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Debut contrat</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date_debut">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('date_debut')?.invalid || form.get('date_debut')?.dirty || form.get('date_debut')?.touched">Choose valid admission date</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Fin contrat</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="date_fin">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="form.get('date_fin')?.invalid || form.get('date_fin')?.dirty || form.get('date_fin')?.touched">Choose valid admission date</mat-error>
          </mat-form-field>

        </div>
      </mat-grid-tile>

    </mat-grid-list>

</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close (click)="cancelRegistration()">Cancel</button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="registerContract()" [disabled]="form.invalid"> {{buttonName}} </button>
</div>
